body {
    color: beige;
    background: gray;
    margin: 0px;
}

header {
  border-bottom: solid 1px beige;
  padding: 20px;
  font-size: 25px;
  color: beige;
}

section{
  background: plum;
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
